.cosmic-button {
  position: relative;
  overflow: hidden;
  transition: background 0.3s ease, border 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.2); /* border-white/20 for static state */
}

.cosmic-button:hover {
  border: 1px solid transparent;
}


/* CLEAN GREN SIGNAL*/
/*  
.cosmic-button:hover {
  border: 1px solid transparent;
}

.cosmic-border-static::before,
.cosmic-border-animate::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  pointer-events: none;
  padding: 1px;
  background: linear-gradient(90deg, #20024f, #ae139c, #20024f);
  background-size: 300% 100%;
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0.5;
}

.cosmic-border-static::before {
  animation: none;
  background-position: 0% 50%;
  filter: drop-shadow(0 0 2px rgba(255,255,255,0.2));
}

.cosmic-border-animate::before {
  animation: cosmic-move 2s linear infinite;
  filter: drop-shadow(0 0 6px #20024f) drop-shadow(0 0 3px #cb00cc);
}

@keyframes cosmic-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
} */